*{
  box-sizing: border-box;
}

.tableContainer{

  padding-left: 20px;
}


table {
    /* border-spacing: 0;
    border-collapse: collapse; */

    height: 100px;

}
table td, #lines-interface table thead th {
   text-align: right;
   padding: 5px 15px;
   line-height: 17px;
   font-size: 12px;
   white-space: nowrap;
   border-right: 1px solid #eee;
   vertical-align: middle;
}

thead{
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  border-bottom: 7px;
  line-height: 40px;
  border-bottom: #eee 1px solid!important;
  box-shadow: 0 3px 6px -2px #aaa!important;
  height: 45px;
}

th{

  vertical-align: top;
  border-top: 1px solid #ddd;
  height: 45px;
}



/* h2{
    font-family: arial;
    font-weight: 700;
    text-align: left;
    margin-bottom: 7px;
} */

.header_row{
  background-color: white;
  margin-bottom: 20px;
  height: 45px;
  padding:  20px;

}
.header_main_teams{

  background-color: #eee;
  width: 85px;


}
.header_main_books{
  background-color: #eee;
  font-size: 11px;

}




.content_teams{

  display: inline-block;
  height: 45px;
  width: 145px;
  align: left;
  font-size: 10px;
  background-color: #fff;
  border-left: 1px #eee solid;
  margin-left: -2px;




}

.content_books{

  height: 45px;
  width: 85px;
  align: left;
  font-size: 10px;
  background-color: #fff;
  border-left: 1px #eee solid;
  margin-left: -2px;
}
